/*!*Navbar*!*/
/*#custom-bootstrap-menu.navbar-default .navbar-brand {*/
    /*color: rgba(119, 119, 119, 1);*/
/*}*/
/*#custom-bootstrap-menu.navbar-default {*/
    /*font-size: 23px;*/
    /*background-color: rgba(42, 203, 235, 0.41);*/
    /*background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(42, 203, 235, 0.41) 100%);*/
    /*background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(42, 203, 235, 0.41) 100%);*/
    /*border-bottom-width: 6px;*/
/*}*/
/*#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {*/
    /*color: rgba(119, 119, 119, 1);*/
    /*background-color: rgba(248, 248, 248, 0);*/
/*}*/
/*#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,*/
/*#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {*/
    /*color: rgba(51, 51, 51, 1);*/
    /*background-color: rgba(242, 179, 242, 1);*/
/*}*/
/*#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,*/
/*#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,*/
/*#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {*/
    /*color: rgba(85, 85, 85, 1);*/
    /*background-color: rgba(242, 179, 242, 0.81);*/
    /*background: -webkit-linear-gradient(top, rgba(231, 231, 231, 1) 0%, rgba(242, 179, 242, 0.81) 100%);*/
    /*background: linear-gradient(to bottom, rgba(231, 231, 231, 1) 0%, rgba(242, 179, 242, 0.81) 100%);*/
/*}*/
/*#custom-bootstrap-menu.navbar-default .navbar-toggle {*/
    /*border-color: #f2b3f2;*/
/*}*/
/*#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,*/
/*#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {*/
    /*background-color: #f2b3f2;*/
/*}*/
/*#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {*/
    /*background-color: #f2b3f2;*/
/*}*/
/*#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,*/
/*#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {*/
    /*background-color: #2acbeb;*/
/*}*/




h1 {
    text-align: center;
    font-family: Futura;
    font-size: 100px;
    margin-top: 20px;
}

h3 {
    text-align: center;
    font-family: SignPainter;
    font-size: 50px;
    color: #f2b3f2;
    text-decoration: underline;
}

#mean {
    margin-left: 300px;
    width: 60%;
}

/*HOMEPAGE ANIMATION*/

/* BASE
============================================================================= */
@import url(http://fonts.googleapis.com/css?family=Offside);

html                            { overflow-y:scroll; }
body                            { margin-top:40px; }

/* HEADER
============================================================================= */
#header                         { margin-bottom:50px; }

/* logo */
#name                       { color: #6D213C; font-family:'Offside'; font-size:80px; margin-bottom:50px; margin-top:50px; }
#name span                  { display:inline-block;}


/* MAIN NAV
============================================================================= */
#main-nav                       { margin-bottom:20px;  }

/* SIDEBAR
============================================================================= */
#sidebar                        {  }

#sidebar-nav                    {  }
#sidebar-nav ul                 { list-style:none; padding-left:0; }
#sidebar-nav li                 {  }
#sidebar-nav a                  { background:#428bca; color:#FFF; display:block; margin-bottom:10px; padding:20px; text-transform:uppercase;
    border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}
#sidebar-nav a:hover        { background:#3276b1; text-decoration:none; }

/* CONTENT
============================================================================= */
#content                        { background: #fcff7f; min-height:400px; padding:20px;
    border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}
#content img                    { border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; }

/* ANIMATIONS
============================================================================= */

/* logo */
.s                         { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
.i                         { animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
.m                         { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
.o                         { animation-delay:1s; -moz-animation-delay:1s; -webkit-animation-delay:1s; }
.n                         { animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
.e                         { animation-delay:1.2s; -moz-animation-delay:1.2s; -webkit-animation-delay:1.2s; }

.a                         { animation-delay:1.4s; -moz-animation-delay:1.4s; -webkit-animation-delay:1.4s; }
.t                         { animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
.h                         { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
.l                         { animation-delay:0.5s; -moz-animation-delay:0.5s; -webkit-animation-delay:0.5s; }






/* sidebar */
#side-biz                  { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
#side-hunter                 { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
#side-downs                  { animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
#side-contact               { animation-delay:0.3s; -moz-animation-delay:0.3s; -webkit-animation-delay:0.3s; }

/* content */
#content                    { animation-delay:1.5s; -moz-animation-delay:1.5s; -webkit-animation-delay:1.5s; }
#content img            { animation-delay:1.7s; -moz-animation-delay:1.7s; -webkit-animation-delay:1.7s; }